<div class="nav-logo">
  <div class="logo-wrapper">
    <%= link_to root_path do %>
      <%= image_tag "logo.png", class:"logo" %> 
    <% end %>
  </div>
  <div class="nav">
    <%# <a href="#">About</a> %>
    <%= link_to "About", about_path %>
    <a href="#" class="projectBtn">Project</a>
    <a href="#" class="contactBtn">Contact</a>
  </div>
</div>
<div class="content">
  <div class="intro" id="about">
    <h1>Hello, <br> it’s Hung-Chen</h1>
    <p>I am a full stack developer based in Berlin, <br> helping to create meaningful experiences <br>
        through
        web applications.
    </p>
    <div class="see-project">
      <p>Scroll to discover</p>
      <%# <a href="#" class="arrowLink"> %>
        <%# <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M7.29289 14.7071C7.68342 15.0976 8.31658 15.0976 8.70711 14.7071L15.0711 8.34315C15.4616 7.95262 15.4616 7.31946 15.0711 6.92893C14.6805 6.53841 14.0474 6.53841 13.6569 6.92893L8 12.5858L2.34315 6.92893C1.95262 6.53841 1.31946 6.53841 0.928932 6.92893C0.538408 7.31946 0.538408 7.95262 0.928933 8.34315L7.29289 14.7071ZM7 4.37114e-08L7 14L9 14L9 -4.37114e-08L7 4.37114e-08Z" fill="black"/>
        </svg> %>
        <!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In  -->
        <svg version="1.1"
          xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
          x="0px" y="0px" width="11.1px" height="26.4px" viewBox="0 0 11.1 26.4" style="enable-background:new 0 0 11.1 26.4;"
          xml:space="preserve" id="arrow">
        <style type="text/css">
          .st0{fill:none;stroke:#FC3E1D;stroke-linecap:round;stroke-miterlimit:10;}
        </style>
        <defs>
        </defs>
        <g>
          <polyline class="st0" points="10.6,20.7 5.5,25.7 0.5,20.7 	"/>
          <line class="st0" x1="5.5" y1="25.7" x2="5.5" y2="0.5"/>
        </g>
        </svg>
        



      <%# </a> %>
    </div>

  </div>

  <div class="project" id="project">
    <%= link_to jamin_path do %>
      <div class="title">
        <h3>Jamin</h3>
      </div>
    <% end %>
    <%# <%= link_to "Project 1", project1_path %>
    <h3>Kuan<span>   (COMING SOON)</span></h3>
  </div>

  <div class="contact" id="contact">
    <h1>Contact</h1>
    <p>I’m currently looking for job opportunities, <br> so feel free to drop me a line at <br>
        fuhungchen@gmail.com
    </p>
  </div>
</div>