<div class="cross">
  <%= link_to "+", root_path %>
</div>
<div class="content-jamin">
  <div class="project-info">
    <h1>Jamin</h1>
    <div class="year">
      <p><strong>YEAR:</strong> 2020</p>
      <div class="team">
        <p><strong>TEAM:</strong>  Olivier Girardot, Leoni Sperling, <br>Florian Gaebler, Hung-Chen Fu</p>
      </div>
    </div>
  </div>
  <div class="overview">
    <p>Jamin is a platform that helps connect musicians to play and enjoy music together through jam sessions. <br> Musicians can create jam sessions or simply join one. <br><br> I was responsible for designing the user interface of the website and building user dashboard and review feature.</p>
    <%# <img src="https://via.placeholder.com/430x320" alt=""> %>
    <%= image_tag "jammood.jpg" %>
  </div>
  <div class="details">
    <div class="descr-01">
      <%# <img src="https://via.placeholder.com/800x400" alt="homepage"> %>
      <%= image_tag "home.png" %>
      <div class="descr-text">
        <h2>01 | FIND A JAM SESSION</h2>
        <P>Based on instrument, genre, and date, Jamin helps users find the best jam session in their area.</P>
      </div>
    </div>

    <div class="descr-02">
      <div class="descr-text">
        <h2>02 | DISCOVER</h2>
      </div>
      <%# <img src="https://via.placeholder.com/800x400" alt=""> %>
      <%= image_tag "discover.png" %>
    </div>

    <div class="descr-03">
      <%# <img src="https://via.placeholder.com/800x400" alt=""> %>
      <%= image_tag "join.png" %>
      <div class="descr-text">
        <h2>03 | JOIN</h2>
      </div>
    </div>
    <div class="descr-04">
      <div class="descr-text">
        <h2>04 | READY TO JAM</h2>
        <p>Users can check upcoming jam session or write a review for the jam session they participated before.</p>
      </div>
      <%# <img src="https://via.placeholder.com/800x400" alt=""> %>
      <%= image_tag "readytojam.png" %>
    </div>
  </div>
</div> 