<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hung-Chen Fu | Portfolio</title>
    <meta name="description" content="I am a full stack developer based in Berlin, helping to create meaningful experiences through web applications.">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="turbolinks-cache-control" content="no-preview">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= favicon_link_tag asset_path('logo.png') %>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap" rel="stylesheet">
    <meta property="og:image" content='<%= image_tag "website-screenshot.jpg" %>'>
    <meta property="og:description" content="I am a full stack developer based in Berlin, helping to create meaningful experiences through web applications.">
    <meta property="og:title" content="Hung-Chen Fu | Portfolio">
    <%# Google Analytics %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-169601742-1"></script>
    <%= javascript_include_tag 'analytics', async: true %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
        
        <%= yield %>
        
        <footer>
            <p>Hung-Chen Fu © 2020</p>
        </footer>
    </div>
  </body>
</html>
